.navbar{
    background-color: #ffffff;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
}
.navbar-brand{
    font-weight: 500;
    color: #6EC2ED;
    font-size: 24px;
    align-items: center;
    transition: 0.3s color;
}

.login-button{
    background-color: #6EC2ED;
    color: #ffff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover{
    background-color: #4099C7;
}
.navbar-toggler{
    Color: #6EC2ED;
    border: none;
    font-size: 1.25rem;
}
.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}
.nav-link{
    color: #666777 !important;
    font-weight: 500;
    position: relative;
}
.nav-link:hover, .nav-link.active{
    color: #000;
}
@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #6EC2ED;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.header-cor-custom{
    background-color: #000000;
}

html, body{
    height: 100%;
    margin-bottom: 50px !important;
}

.form-container{
    max-width: 420px;
    padding: 1rem;
}
.testestestes{
    max-width: 1200px;
}
.banner-warning{
    background: hsla(154, 100%, 76%, 1); /* Fallback para navegadores que não suportam gradientes */
    background: linear-gradient(90deg, hsla(154, 100%, 76%, 1) 0%, hsla(234, 100%, 83%, 1) 50%, hsla(288, 100%, 81%, 1) 100%);
    color: #212529; /* Texto preto */
    height: 35px; /* Altura do banner */
    width: 100%; /* Largura total */
    text-align: center; /* Centraliza o texto */
    line-height: 25px; /* Centraliza verticalmente o texto */
    font-size: 16px; /* Tamanho da fonte */
}